body {
  margin: 0%;
  padding: 0%;
  background-size: 100%;
}

.StandName {
  color: white;
  display: flex;
  justify-self: center;
  align-self: center;
  background-image: url(./pic-background.jpg);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-style: solid;
  border-color: gold;
  
}

button {
  margin-left: 45px;
  margin-bottom: 10px;
  width: 75px;
  height: 30px;
  font-size: 20px;
  border-style: solid;
  border-color: gold;
  color: white;
  background-image: url(./pic-background.jpg);
}

img {
  background-size: cover;
  border-style: solid;
  border-color: gold;
}

input {
  display: flex;
  justify-self: center;
  align-self: center;
}

.slider-div {
    background-image: url(./pic-background.jpg);
    border: 3px solid gold;
    color: gold;
    display: flex;
    justify-self: center;
    align-self: center;
}



